/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
    nav {
        width: 50%;
    }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    nav {
        width: 100%;
    }
}

header {
    object-fit: cover;
}
